listaSłuchawek.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified"
           xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:attributeGroup name="autorzyAttr">
        <xs:attribute name="notka" type="xs:string"/>
        <xs:attribute name="ilośćAutorów" type="xs:integer"/>
    </xs:attributeGroup>
    <xs:group name="statystyki">
        <xs:sequence>
            <xs:element name="liczbaOdwiedzin" type="xs:integer"/>
            <xs:element name="liczbaPrzedmiotow" type="xs:integer"/>
        </xs:sequence>
    </xs:group>
    <xs:element name="zawartość">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="daneDokumentu">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element type="xs:string" name="opisDokumentu"/>
                            <xs:element name="autorzy" id="autorzyID1">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="autor" maxOccurs="unbounded" minOccurs="1">
                                            <xs:simpleType>
                                                <xs:restriction base="xs:string">
                                                    <xs:maxLength value="50"></xs:maxLength>
                                                </xs:restriction>
                                            </xs:simpleType>
                                        </xs:element>
                                    </xs:sequence>
                                    <xs:attributeGroup ref="autorzyAttr"/>
                                    <xs:attribute name="jezyk" type="xs:string" use="optional"/>
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="dataUtworzenia">
                                <xs:simpleType>
                                    <xs:restriction base="xs:date">
                                        <xs:pattern value="[0-9]{4}-[0-9]{2}-[0-9]{2}"></xs:pattern>
                                    </xs:restriction>
                                </xs:simpleType>
                            </xs:element>
                            <xs:element name="dataModyfikacji">
                                <xs:simpleType>
                                    <xs:restriction base="xs:date">
                                        <xs:pattern value="[0-9]{4}-[0-9]{2}-[0-9]{2}"></xs:pattern>
                                    </xs:restriction>
                                </xs:simpleType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element name="statystykiStrony" minOccurs="0" maxOccurs="1">
                    <xs:complexType>
                        <xs:group ref="statystyki"/>
                    </xs:complexType>
                </xs:element>
                <xs:element name="listaPrzedmiotów">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="przedmiot" maxOccurs="unbounded" minOccurs="0">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element type="xs:string" name="nazwa"/>
                                        <xs:element name="cena">
                                            <xs:simpleType>
                                                <xs:restriction base="xs:decimal">
                                                    <xs:minInclusive value="0"/>
                                                    <xs:fractionDigits value="2"/>
                                                </xs:restriction>
                                            </xs:simpleType>
                                        </xs:element>
                                        <xs:element name="typKonstrukcji">
                                            <xs:simpleType>
                                                <xs:restriction base="xs:string">
                                                    <xs:enumeration value="Nauszne zamknięte"/>
                                                    <xs:enumeration value="Nauszne półotwarte"/>
                                                </xs:restriction>
                                            </xs:simpleType>
                                        </xs:element>
                                        <xs:element name="średnicaMembrany">
                                            <xs:simpleType>
                                                <xs:restriction base="xs:integer">
                                                    <xs:minInclusive value="0"/>
                                                </xs:restriction>
                                            </xs:simpleType>
                                        </xs:element>
                                        <xs:element name="pasmoPrzenoszeniaSłuchawek">
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element name="minimum">
                                                        <xs:simpleType>
                                                            <xs:restriction base="xs:integer">
                                                                <xs:minInclusive value="0"/>
                                                            </xs:restriction>
                                                        </xs:simpleType>
                                                    </xs:element>
                                                    <xs:element name="maximum">
                                                        <xs:simpleType>
                                                            <xs:restriction base="xs:integer">
                                                                <xs:minInclusive value="0"/>
                                                            </xs:restriction>
                                                        </xs:simpleType>
                                                    </xs:element>
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                        <xs:element name="impedancjaSłuchawek">
                                            <xs:simpleType>
                                                <xs:restriction base="xs:integer">
                                                    <xs:minInclusive value="0"/>
                                                </xs:restriction>
                                            </xs:simpleType>
                                        </xs:element>
                                        <xs:element name="czułośćSłuchawek">
                                            <xs:simpleType>
                                                <xs:restriction base="xs:integer">
                                                    <xs:minInclusive value="0"/>
                                                </xs:restriction>
                                            </xs:simpleType>
                                        </xs:element>
                                        <xs:element name="wbudowanyMikrofon">
                                            <xs:simpleType>
                                                <xs:restriction base="xs:string">
                                                    <xs:enumeration value="Tak"/>
                                                    <xs:enumeration value="Nie"/>
                                                </xs:restriction>
                                            </xs:simpleType>
                                        </xs:element>
                                        <xs:element type="xs:string" name="kolor"/>
                                        <xs:element name="długośćKabla">
                                            <xs:simpleType>
                                                <xs:restriction base="xs:decimal">
                                                    <xs:minInclusive value="0"/>
                                                    <xs:fractionDigits value="1"/>
                                                </xs:restriction>
                                            </xs:simpleType>
                                        </xs:element>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
            <xs:attribute name="jezyk" type="xs:string" use="required"/>
        </xs:complexType>
    </xs:element>
</xs:schema>