listaSłuchawek.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           targetNamespace="DGMK_NAMESPACE"
           xmlns="DGMK_NAMESPACE"
           xmlns:DGMK="DGMK_NAMESPACE"
           elementFormDefault="qualified">

    <xs:simpleType name="imieType">
        <xs:restriction base="xs:string">
            <xs:pattern value="([A-Z][a-z]+)((\ |\-)[A-Z][a-z]+)?"/>
            <xs:minLength value="2"/>
            <xs:maxLength value="20"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="nazwiskoType">
        <xs:restriction base="xs:string">
            <xs:pattern value="([A-Z][a-z]+)((\ |\-)[A-Z][a-z]+)?"/>
            <xs:minLength value="2"/>
            <xs:maxLength value="20"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="pseudonimType">
        <xs:restriction base="xs:string">
            <xs:minLength value="2"/>
            <xs:maxLength value="20"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="autorType">
        <xs:choice>
            <xs:sequence>
                <xs:element name="imie" type="DGMK:imieType"/>
                <xs:element name="nazwisko" type="DGMK:nazwiskoType"/>
            </xs:sequence>
            <xs:element name="pseudonim" type="DGMK:pseudonimType"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="autorzyType">
        <xs:sequence>
            <xs:element name="autor" type="autorType"  maxOccurs="2" minOccurs="2"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="dataUtworzeniaType">
        <xs:restriction base="xs:date">
            <xs:pattern value="[0-9]{4}-[0-9]{2}-[0-9]{2}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="dataModyfikacjiType">
        <xs:restriction base="xs:date">
            <xs:pattern value="[0-9]{4}-[0-9]{2}-[0-9]{2}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="daneDokumentuType">
        <xs:sequence>
            <xs:element name="opisDokumentu" type="xs:string"/>
            <xs:element name="autorzy" type="DGMK:autorzyType"/>
            <xs:element name="dataUtworzenia" type="DGMK:dataUtworzeniaType"/>
            <xs:element name="dataModyfikacji" type="DGMK:dataModyfikacjiType"/>
        </xs:sequence>
    </xs:complexType>


    <xs:simpleType name="idMarkiType">
        <xs:restriction base="xs:string">
            <xs:pattern value=".+"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="krajPochodzeniaType">
        <xs:restriction base="xs:string">
            <xs:pattern value="([A-Z][a-z]+)(((\ |\-)[A-Z][a-z]+)+)?|([A-Z]{2,})"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="rokPowstaniaType">
        <xs:restriction base="xs:int">
            <xs:minInclusive value="0"/>
            <xs:maxInclusive value="2019"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:attributeGroup name="markaAttrs">
        <xs:attribute name="id_marki" type="DGMK:idMarkiType" use="required"/>
        <xs:attribute name="krajPochodzenia" type="DGMK:krajPochodzeniaType" use="optional"/>
        <xs:attribute name="rokPowstania" type="DGMK:rokPowstaniaType" use="optional"/>
    </xs:attributeGroup>
    <xs:complexType name="markaType">
        <xs:simpleContent>
            <xs:extension base="xs:string">
                <xs:attributeGroup ref="markaAttrs"/>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>
    <xs:complexType name="markiType">
        <xs:sequence>
            <xs:element name="marka" type="DGMK:markaType" maxOccurs="unbounded" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>

    <xs:simpleType name="PositiveFloat">
        <xs:restriction base="xs:float">
            <xs:minInclusive value="0"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="cenaWalutaType">
        <xs:restriction base="xs:string">
            <xs:enumeration value="zł"/>
            <xs:enumeration value="$"/>
            <xs:enumeration value="€"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="cenaType">
        <xs:simpleContent>
            <xs:extension base="PositiveFloat">
                <xs:attribute name="promocja" use="required" type="DGMK:promocjaType"/>
                <xs:attribute name="waluta" type="DGMK:cenaWalutaType"  use="required"/>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>
    <xs:simpleType name="promocjaType">
        <xs:restriction base="xs:string">
            <xs:enumeration value="TAK"/>
            <xs:enumeration value="NIE"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="średnicaMembranyJednostkaType">
        <xs:restriction base="xs:string">
            <xs:enumeration value="mm"/>
            <xs:enumeration value="cm"/>
            <xs:enumeration value="dm"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="średnicaMembranyType">
        <xs:simpleContent>
            <xs:extension base="PositiveFloat">
                <xs:attribute name="jednostka" type="DGMK:średnicaMembranyJednostkaType"  use="required"/>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>
    <xs:simpleType name="pasmoPrzenoszeniaJednostkaType">
        <xs:restriction base="xs:string">
            <xs:enumeration value="kHz"/>
            <xs:enumeration value="mHz"/>
            <xs:enumeration value="Hz"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="minimumType">
        <xs:simpleContent>
            <xs:extension base="xs:positiveInteger">
                <xs:attribute name="jednostka" type="DGMK:pasmoPrzenoszeniaJednostkaType"  use="required"/>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>
    <xs:complexType name="maximumType">
        <xs:simpleContent>
            <xs:extension base="xs:positiveInteger">
                <xs:attribute name="jednostka" type="DGMK:pasmoPrzenoszeniaJednostkaType"  use="required"/>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>
    <xs:complexType name="pasmoPrzenoszeniaSłuchawekType">
        <xs:sequence>
            <xs:element name="minimum" type="DGMK:minimumType" />
            <xs:element name="maximum" type="DGMK:maximumType" />
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="impedancjaSłuchawekType">
        <xs:simpleContent>
            <xs:extension base="xs:positiveInteger">
                <xs:attribute name="jednostka" type="xs:string" use="required"/>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>
    <xs:complexType name="czułośćSłuchawekType">
        <xs:simpleContent>
            <xs:extension base="xs:positiveInteger">
                <xs:attribute name="jednostka" type="xs:string"  use="required"/>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>
    <xs:simpleType name="długośćKablaJednostkaType">
        <xs:restriction base="xs:string">
            <xs:enumeration value="m"/>
            <xs:enumeration value="cm"/>
            <xs:enumeration value="dm"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="długośćKablaType">
        <xs:simpleContent>
            <xs:extension base="PositiveFloat">
                <xs:attribute name="jednostka" type="długośćKablaJednostkaType" use="required"/>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>
    <xs:simpleType name="PrzedmiotIDType">
        <xs:restriction base="xs:string">
            <xs:pattern value="H[\d]+"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="typKonstrukcjiType">
        <xs:restriction base="xs:string">
            <xs:enumeration value="Nauszne półotwarte"/>
            <xs:enumeration value="Nauszne zamknięte"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="mikrofonType">
        <xs:restriction base="xs:string">
            <xs:enumeration value="Tak"/>
            <xs:enumeration value="Nie"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:group name="elementyPrzedmiotów">
    <xs:sequence>
            <xs:element name="nazwa" type="xs:string" />
            <xs:element name="cena" type="DGMK:cenaType" />
            <xs:element name="typKonstrukcji" type="DGMK:typKonstrukcjiType" />
            <xs:element name="średnicaMembrany" type="DGMK:średnicaMembranyType" />
            <xs:element name="pasmoPrzenoszeniaSłuchawek" type="DGMK:pasmoPrzenoszeniaSłuchawekType" />
            <xs:element name="impedancjaSłuchawek" type="DGMK:impedancjaSłuchawekType" />
            <xs:element name="czułośćSłuchawek" type="DGMK:czułośćSłuchawekType" />
            <xs:element name="wbudowanyMikrofon" type="DGMK:mikrofonType"  default="Nie"/>
            <xs:element name="kolor" type="xs:string" />
            <xs:element name="długośćKabla" type="DGMK:długośćKablaType" />
        </xs:sequence>
    </xs:group>
    <xs:complexType name="przedmiotType">
        <xs:group ref="elementyPrzedmiotów"/>
        <xs:attribute name="przedmiotID" type="DGMK:PrzedmiotIDType" use="optional"/>
        <xs:attribute name="markaID" type="xs:string" use="optional"/>
    </xs:complexType>
    <xs:complexType name="listaPrzedmiotówType">
        <xs:sequence>
            <xs:element name="przedmiot" type="DGMK:przedmiotType" maxOccurs="unbounded" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="zawartośćType">
        <xs:sequence>
            <xs:element name="daneDokumentu" type="DGMK:daneDokumentuType"/>
            <xs:element name="markiTytuł" type="xs:string" />
            <xs:element name="marki" type="DGMK:markiType" />
            <xs:element name="listaPrzedmiotów" type="DGMK:listaPrzedmiotówType" />
        </xs:sequence>
    </xs:complexType>

    <xs:element name="zawartość" type="DGMK:zawartośćType">
           <xs:key name="markaKey">
               <xs:selector xpath="DGMK:marki/DGMK:marka"/>
               <xs:field xpath="@id_marki"/>
           </xs:key>
            <xs:key name="przedmiotKey">
                <xs:selector xpath="DGMK:listaPrzedmiotów/DGMK:przedmiot"/>
                <xs:field xpath="@przedmiotID"/>
            </xs:key>
           <xs:keyref name="referencja" refer="markaKey">
               <xs:selector xpath="DGMK:listaPrzedmiotów/DGMK:przedmiot"/>
               <xs:field xpath="@markaID"/>
           </xs:keyref>
    </xs:element>
</xs:schema>