listaSłuchawek.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified"
           xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="zawartość" type="zawartośćType"/>
    <xs:complexType name="autorType">
        <xs:sequence>
            <xs:element name="imie">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:pattern value="[a-zA-Z]+}"/>
                        <xs:minLength value="2"/>
                        <xs:maxLength value="20"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="nazwisko">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:pattern value="[a-zA-Z]+}"/>
                        <xs:minLength value="2"/>
                        <xs:maxLength value="20"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="autorzyType">
        <xs:sequence>
            <xs:element type="autorType" name="autor" maxOccurs="unbounded" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="daneDokumentuType">
        <xs:sequence>
            <xs:element type="xs:string" name="opisDokumentu"/>
            <xs:element type="autorzyType" name="autorzy"/>
            <xs:element name="dataUtworzenia">
                <xs:simpleType>
                    <xs:restriction base="xs:date">
                        <xs:pattern value="[0-9]{4}-[0-9]{2}-[0-9]{2}"></xs:pattern>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="dataModyfikacji">
                <xs:simpleType>
                    <xs:restriction base="xs:date">
                        <xs:pattern value="[0-9]{4}-[0-9]{2}-[0-9]{2}"></xs:pattern>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="markaType">
        <xs:simpleContent>
            <xs:extension base="xs:string">
                <xs:attribute type="xs:ID" name="id_marki" use="optional">
                    <xs:simpleType>
                        <xs:restriction base="xs:string">
                            <xs:pattern value="^[a-zA-Z]+"></xs:pattern>
                        </xs:restriction>
                    </xs:simpleType>
                </xs:attribute>
                <xs:attribute type="xs:string" name="krajPochodzenia" use="optional">
                    <xs:simpleType>
                        <xs:restriction base="xs:string">
                            <xs:pattern value="^[a-zA-Z]+"></xs:pattern>
                        </xs:restriction>
                    </xs:simpleType>
                </xs:attribute>
                <xs:attribute type="xs:integer" name="rokPowstania" use="optional">
                    <xs:simpleType>
                        <xs:restriction base="xs:date">
                            <xs:minInclusive value="0"/>
                            <xs:maxInclusive value="2019"/>
                        </xs:restriction>
                    </xs:simpleType>
                </xs:attribute>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>
    <xs:complexType name="markiType">
        <xs:sequence>
            <xs:element type="markaType" name="marka" maxOccurs="unbounded" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="PositiveFloat">
        <xs:restriction>
            <xs:minExclusive value="0"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="cenaType">
        <xs:simpleContent>
            <xs:extension base="PositiveFloat">
                <xs:attribute type="xs:string" name="promocja" use="optional" default="NIE">
                    <xs:simpleType>
                        <xs:restriction base="xs:string">
                            <xs:enumeration value="TAK"/>
                            <xs:enumeration value="NIE"/>
                        </xs:restriction>
                    </xs:simpleType>
                </xs:attribute>
                <xs:attribute type="xs:string" name="waluta" use="optional" default="zł"/>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>
    <xs:complexType name="średnicaMembranyType">
        <xs:simpleContent>
            <xs:extension base="PositiveFloat">
                <xs:attribute type="xs:string" name="jednostka" use="optional" default="mm"/>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>
    <xs:complexType name="minimumType">
        <xs:simpleContent>
            <xs:extension base="xs:positiveInteger">
                <xs:attribute type="xs:string" name="jednostka" use="optional" default="kHz"/>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>
    <xs:complexType name="maximumType">
        <xs:simpleContent>
            <xs:extension base="xs:positiveInteger">
                <xs:attribute type="xs:string" name="jednostka" use="optional" default="kHz"/>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>
    <xs:complexType name="pasmoPrzenoszeniaSłuchawekType">
        <xs:sequence>
            <xs:element type="minimumType" name="minimum"/>
            <xs:element type="maximumType" name="maximum"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="impedancjaSłuchawekType">
        <xs:simpleContent>
            <xs:extension base="xs:positiveInteger">
                <xs:attribute type="xs:string" name="jednostka" use="optional"/>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>
    <xs:complexType name="czułośćSłuchawekType">
        <xs:simpleContent>
            <xs:extension base="xs:positiveInteger">
                <xs:attribute type="xs:string" name="jednostka" use="optional"/>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>
    <xs:complexType name="długośćKablaType">
        <xs:simpleContent>
            <xs:extension base="PositiveFloat">
                <xs:attribute type="xs:string" name="jednostka" use="optional"/>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>
    <xs:complexType name="przedmiotType">
        <xs:sequence>
            <xs:element type="xs:string" name="nazwa"/>
            <xs:element type="cenaType" name="cena"/>
            <xs:element name="typKonstrukcji">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:enumeration value="Nauszne półotwarte"/>
                        <xs:enumeration value="Nauszne zamknięte"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element type="średnicaMembranyType" name="średnicaMembrany"/>
            <xs:element type="pasmoPrzenoszeniaSłuchawekType" name="pasmoPrzenoszeniaSłuchawek"/>
            <xs:element type="impedancjaSłuchawekType" name="impedancjaSłuchawek"/>
            <xs:element type="czułośćSłuchawekType" name="czułośćSłuchawek"/>
            <xs:element name="wbudowanyMikrofon" default="Nie">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:enumeration value="Tak"/>
                        <xs:enumeration value="Nie"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element type="xs:string" name="kolor"/>
            <xs:element type="długośćKablaType" name="długośćKabla"/>
        </xs:sequence>
        <xs:attribute type="xs:string" name="przedmotID" use="optional"/>
        <xs:attribute type="xs:string" name="markaID" use="optional"/>
    </xs:complexType>
    <xs:complexType name="listaPrzedmiotówType">
        <xs:sequence>
            <xs:element type="przedmiotType" name="przedmiot" maxOccurs="unbounded" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="zawartośćType">
        <xs:sequence>
            <xs:element type="daneDokumentuType" name="daneDokumentu"/>
            <xs:element type="xs:string" name="markiTytuł"/>
            <xs:element type="markiType" name="marki"/>
            <xs:element type="listaPrzedmiotówType" name="listaPrzedmiotów"/>
        </xs:sequence>
    </xs:complexType>
</xs:schema>